.DS_Store
.idea/
db.sqlite3
bg_img/
__pycache__/
celerybeat-schedule.db
/static/
extension/plugin/*

init_data/
!init_data/readme.md
!init_data/__init__.py
log_backup.log
log_backup.log.*

temp_file/
test_demo/2024/*
media/*
doc/*
