{% load i18n %}
{% load admin_urls static admin_list simpletags %}

<div class="lucky-input-{{ widget.name }}" style="display: inline !important;">
    {% include "luckyui/forms/widgets/none_input.html" %}

    <el-input style="width: auto;"
              size="small"
              type="textarea"
              :autosize="{ minRows: 1, maxRows: 30}"
              v-model="input_value"
              maxlength="{{ widget.attrs.maxlength }}"
              @input="input_text"></el-input>

</div>

<script type="text/javascript">

    new Vue({
        el: '.lucky-input-{{ widget.name }}',
        data: {
            input_value: '',
            field_id: ''
        },
        mounted() {
            this.field_id = 'id_' + "{{ widget.name }}"
            this.input_value = "{{ widget.value }}"
            if(this.input_value === 'None'){
                this.input_value = ''
            }
        },
        methods: {
            input_text(e) {
                document.getElementById(this.field_id).value = e
                console.log(document.getElementById(this.field_id).value)
            }
        }
    })
</script>

