{% load i18n admin_urls simpletags %}

<style type="text/css">

</style>

<div class="submit-row" >
    {% block submit_buttons_before %}
    {% endblock %}

    {% block submit_buttons_delete %}
        {% if show_delete_link %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <el-button size="small" icon="el-icon-delete" type="danger"
                       onclick="del('{% add_preserved_filters delete_url %}')"
            >
                <span>{% trans "Delete" %}</span>
            </el-button>
        {% endif %}
    {% endblock %}

    {% block submit_buttons_change %}
        {% if can_change %}
            {% url opts|admin_urlname:'change' original.pk|admin_urlquote as change_url %}
            <el-button size="small" icon="el-icon-edit"
                       type="primary"
                       onclick="detail('{% add_preserved_filters change_url %}')">
                <span>编辑</span>
            </el-button>
        {% endif %}
    {% endblock %}

    {% block submit_buttons_after %}
    {% endblock %}

    <input type="hidden" name="actionName" value="actionValue" id="actionName">
</div>

<script type="text/javascript">
    var submitrows = document.getElementsByClassName('submit-row');

    function del(url) {
        window.location.href = url;
    }

    function detail(url) {
        window.location.href = url;
    }

    function prev() {
        if(parent.window.app){
            parent.window.app.tab_navigate_back(window)
        }else{
            window.history.go(-1)
        }
    }

    for (var i = 0; i < submitrows.length; i++) {
        new Vue({
            el: submitrows[i],
            data: {},
            methods: {
                formSubmit: function (name, v, e) {
                    $("#actionName").attr('name', name).val(v);
                    $("form").submit();
                }
            }
        })
    }

</script>

{% block extrajs %}
{% endblock %}