{% load static simpletags %}
{# Vue JS #}
<script type="text/javascript" src="{% static 'admin/simpleui-x/js/vue.min.js' %}"></script>
{# Element JS #}
<script type="text/javascript" src="{% static 'admin/simpleui-x/elementui/index.js' %}"></script>
{# JQuery JS #}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
{# Axios 异步请求 #}
<script type="text/javascript" src="{% static 'admin/simpleui-x/js/axios.min.js' %}"></script>

<script src="{% static 'luckyui/js/lucky_websocket.js' %}"></script>
